<!--
<head>
    <style>
        footer {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: #333; /* Đổi màu nền tùy ý */
            color: white;
            padding: 10px;
            z-index: 1000; /* Đảm bảo footer hiển thị trên tất cả các phần tử khác */
            scroll-behavior: smooth;

        }
    </style>
</head>
-->
<body>
    <footer class="bg-dark" id="tempaltemo_footer">
        <div class="container">
            <div class="row">

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light logo">ImThienz</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <!--
                        <li>
                            <i class="fas fa-map-marker-alt fa-fw"></i>
                            ???
                        </li>
                        <li>
                            <i class="fa fa-phone fa-fw"></i>
                            <a class="text-decoration-none" href="tel:010-020-0340">???</a>
                        </li>
                        -->
                        <li>
                            <i class="fa fa-envelope fa-fw"></i>
                            <a class="text-decoration-none" href="https://mail.google.com/mail/?view=cm&fs=1&to=imthienz@gmail.com">Send an Email</a>
                        </li>
                        <li>
                            <i class="fab fa-paypal fa-fw"></i>
                            <a class="text-decoration-none" href="https://paypal.me/vtdvuthanhdat">Buy for me a coffee!</a>
                        </li>

                        
                    </ul>
                </div>

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light" style="color:white; opacity:0;">Products</h2>
                </div>

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light">Category</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="../index.html">Home</a></li>
                        <li><a class="text-decoration-none" href="about.html">TrollStore & TrollFools</a></li>
                        <li><a class="text-decoration-none" href="https://t.me/WHO_Am_iHEre">Contact</a></li>
                    </ul>
                </div>

            </div>

            <div class="row text-light mb-4">
                <div class="col-12 mb-3">
                    <div class="w-100 my-3 border-top border-light"></div>
                </div>
                <div class="col-auto me-auto">
                    <ul class="list-inline text-left footer-icons">
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://github.com/ImThienz"><i class="fab fa-github fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://www.facebook.com/profile.php?id=100011968744036"><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://www.instagram.com/vux_thanhf_ddatj.23/"><i class="fab fa-instagram fa-lg fa-fw"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="w-100 bg-black py-3">
            <div class="container">
                <div class="row pt-2">
                    <div class="col-12">
                        <p class="text-left text-light">
                            Copyright &copy; ImThienz | 2024
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

